# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/node_modules
/build
/.next
/out

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode
.idea

# OS
.DS_Store

# Migrations
**/migrations/*.ts